<div class="container">

  <div class="search-box">
    <i class="fa-solid fa-magnifying-glass" id="search-i"></i>
    <input
      type="search"
      [value]="countryService.searchValue()"
       placeholder="Search for a country..."
       (input)="searchCountry($event)"
      class="search"
    >
  </div>

  <div class="region-select">
    <div class="select-header" (click)="optionActive()">
      <span class="select-p">Filter by {{regionString()}}</span>
      <span class="select-icon"><i class="fa-solid fa-chevron-down select-icon"></i></span>
    </div>
    @if (isActive()){

      <div class="options-box">
        @for (region of countryService.regions(); track region) {
         <div class="option" (click)="countryService.selectRegion(region); isActive.set(false);regionStringValue()">
              {{ region }}
          </div>
        }
      </div>
    }
  </div>
 </div>
