img{
  width: 100px;
  height: 100px;
}
button{
  border:none;
  box-shadow: 2px 4px 10px #c5c3c3;
  width: max-content;
}
p{
  font-weight: bold;
}
span{
  font-weight: lighter;
}
.container{
  display: flex;
  flex-direction: column;
  background-color: transparent;
}
.nBorder{
  color:  #8a8a8a;
}
.country-cont, .inf, .inf-box, .inf-box{
  display: flex;
}

.inf, .inf-div{
  flex-direction: column;
}
:host-context(body.dark){
  *{
    color: white;
  }

  button{
    box-shadow: 0 5px 9px #1F2C35;
    background-color: #2B3743;
  }

  .nBorder{
    color: #aaa;
  }
}
.border-box{
  display: flex;
  flex-wrap: wrap;
}
.inf-box{
  justify-content: space-between;
}

@media screen  and (max-width: 767px){
  .container{
    width: 85%;
    margin: 1.5rem auto 2rem;
    max-width: 360px;
  }

  .nBorder{
    font-size: .95rem;
  }

  .country-cont, .inf-box{
    flex-direction: column;
  }

.back{
 width: max-content;
  font-size: 0.8rem;
  padding: .5rem 1rem;
}

.country-cont{
  margin-top: 2rem;
  width: 100%;
 }

img{
  width: 100%;
  height: 100%;
  margin-bottom: 2rem;
}

.inf-box span{
  font-size: 0.9rem;
 }

.border-box button{
  padding: 0.4rem 0.5rem;
  font-size: 0.8rem;

  }

.border-box{
  gap: .5rem
}
}

@media screen and (min-width: 767px)  and (max-width: 1024px){
  .container{
    width: 100%;
    margin: 1.5rem auto 2rem;
   padding: 0 1rem;
  }

  .country-cont, .inf-box{
    flex-direction: row;
  }

  .back{
    width: max-content;
    font-size: 0.8rem;
    padding: .5rem 1rem;
  }

  .country-cont{
     width: 100%;
    justify-content: space-between;
    margin: 2rem auto 0;
    gap: 2rem;
    align-items: center;
  }

  img{
    width: 40%;
    height: 100%;
    margin-bottom: 2rem;
    max-width: 400px;
  }

  .inf-box span{
    font-size: 0.9rem;
  }

  .border-box button{
    padding: 0.4rem 1rem;
  }

  .border-box{
    gap: 1rem;

  }

  .inf-box{
    width: 100%;
     }

}
@media screen  and (min-width: 1024px) and (max-width: 1250px){
  .container{
    width: 95%;
    max-width: 1000px;
    margin: 1.5rem auto 2rem;
  }

  .border-box{
    gap: 1rem;
  }

  .country-cont{
    justify-content: space-between;
  }

  img{
    width: 50%;
    height: 380px;

  }

  .inf-box span{
    font-size: 0.85rem;
  }

  .border-box button{
    padding: 0.4rem 0.85rem;
  }
  .back{
      width: max-content;
      font-size: 0.8rem;
      padding: .4rem 1rem;
    margin-bottom: 2rem;
    }

}

@media screen  and (min-width: 1250px){
  .container{
    width: 80%;
   margin: 1.5rem auto 2rem;
   max-width: 1200px;
     }

  .country-cont, .inf-box{
    flex-direction: row;
  }

  .back{
    width: max-content;
    font-size: 0.8rem;
    padding: .5rem 1rem;
  }

  .country-cont{
    width: 100%;
     margin: 2rem auto 0;
    gap: 4rem;
     align-items: self-start;
   }

  img{
    width: 100%;
    height: 390px;
    margin-bottom: 2rem;
    max-width: 500px;
  }

  .inf-box span{
    font-size: 0.85rem;
    }


  .border-box button{
    padding: 0.4rem 1rem;
  }

  .border-box{
    gap: 1rem;

  }

  .inf-box{
 gap: 2rem;
    }



}
@media screen and (min-width: 1024px){
  button:hover{
    cursor: pointer;
  }
}
